.pitches-list {
  .pitches-list-item {
    display: flex;
    align-items: center;

    .name {
      @include ellipsis;
      flex: 1 1 auto;
      margin-right: $spacing-l;

      @include small-phone {
        text-align: left;
      }
    }

    .address {
      @include ellipsis;
      flex: 1 1 auto;
      text-align: right;

      @include small-phone {
        display: none;
      }
    }
  }
}
