.games-list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  .date-time {
    @include ellipsis;
    min-width: 200px;
    flex: 0 1 auto;
    margin-right: $spacing-l;

    @include tablet-and-smaller {
      min-width: 180px;
    }

    @include phone {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  .pitch {
    @include ellipsis;
    flex: 1 1 auto;
    margin-right: $spacing-l;

    @include phone {
      display: none;
    }
  }

  .score {
    flex: 0 0 auto;
  }
}
