.enrollment-status {
  flex: 0 0 auto;
  margin-left: $spacing-s;

  @include phone {
    display: none;
  }
}

.yes {
  background-color: $bg-color-success;
}

.no {
  background-color: $bg-color-danger;
}

.maybe {
  background-color: $bg-color-default-alert;
}
