.users-list-item {
  display: flex;
  align-items: center;

  .picture {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    margin-right: $spacing-l;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    @include phone {
      width: 32px;
      height: 32px;
    }
  }

  .name {
    @include ellipsis;
    flex: 1 1 auto;
  }
}
