.value-picker {
  display: flex;
  flex-wrap: wrap;

  .value-picker-option {
    @include transparent-clickable-effects;
    padding: $spacing-xs $spacing-s;
    margin: $spacing-xs;
    cursor: pointer;
    border: $border-transparent;
    text-align: center;

    &.selected {
      border: $border-solid;
    }
  }
}
