.game-enrollment {
  .game-enrollment-list {
    .game-enrollment-list-item {
      .enrollment-status {
        @include flex-child;
        margin-left: $spacing-s;

        @include phone {
          display: none;
        }
      }
    }
  }
}

.yes {
  background-color: $bg-color-success;
}

.no {
  background-color: $bg-color-danger;
}

.maybe {
  background-color: $bg-color-default-alert;
}
