:global(.Select) {
  position: relative;
  cursor: default;

  &:focus {
    outline: 0;
  }

  :global(.Select-control) {
    @include input;
    line-height: auto;

    :global(.Select-value),
    :global(.Select-placeholder) {
      @include ellipsis;
      padding-right: $spacing-l;
      cursor: default;

      @include tablet-and-smaller {
        font-size: $font-size-s;
      }
    }

    :global(.Select-arrow-zone) {
      position: absolute;
      right: $spacing-s;
      top: $spacing-xs + 1px;
      transform: rotate(90deg);

      &:after {
        content: ">";
        font: 18px "Consolas", monospace;
      }
    }
  }

  :global(.Select-menu-outer) {
    top: 36px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: $shadow;

    :global(.Select-menu) {
      border-top: $border-solid;
      max-height: 200px;
      overflow: auto;

      :global(.Select-option) {
        @include input;
        @include ellipsis;
        @include highlight-on-hover($highlight-color-dark);
        background-color: white;
      }
    }

    :global(.Select-noresults) {
      padding: $spacing-xs $spacing-s;
      text-align: center;
      background-color: white;
      color: $bg-color;
    }
  }
}
